<!-- <div class="container-fluid club-name">
<p id="sidok-long" align="center"><span class="special-letters">S</span>tudents <span class="special-letters">I</span>n <span class="special-letters">D</span>evelopment <span class="special-letters">O</span>f <span class="special-letters">K</span>yrgyzstan</p>
</div> -->

<div class="jumbotron">
  <div class="container-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag '1.jpg'%>
        </div>

        <div class="item">
          <%= image_tag '2.jpg' %>
        </div>

        <div class="item">
          <%= image_tag '3.jpg' %>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="jumbotron">
<h1 id="projects">Проекты</h1>
<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>


<div class="jumbotron">
<h1 id="participants">Участники</h1>
<h2 id="volunteers">Волонтеры</h2>
<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h2 id="advisors">Советники</h2>
<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h2 id="sponsors">Спонсоры</h2>
<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>


<div class="jumbotron well">
  <h2 id="contact">Свяжитесь с нами</h2>

    <a href="#"><i class="fa fa-phone fa-4x">012345</i></a><br>
    <a href="#"><i class="fa fa-phone fa-4x">543210</i></a><br>
    <!-- <a href="#"><i class="fa fa-envelope fa-4x">sidok@gmail.com?</i></a><br> -->
    <a href="https://www.facebook.com/sidok.kg/"><i class="fa fa-facebook-square fa-4x">sidok.kg</i></a><br>
    <a href="https://www.instagram.com/sidok.kg/"><i class="fa fa-instagram fa-4x">sidok.kg</i></a><br>
    <a href="#"><i class="fa fa-twitter-square fa-4x"></i></a><br>
    <a href="#"><i class="fa fa-slack fa-4x">sidok.slack.com</i></a><br>

</div>

<div class="well">
<h2 id="participants">Напишите нам</h2>
  <form class="form-horizontal">
    <fieldset id="idea-proposal">
      <legend></legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">Идея отправляется для верификации админу, подтверждается и передaется на онлайн-голосование и рейтинг.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
